ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#navigation > ul > li { 
    display: inline-block;
    margin: 0px 5px;
    width: 12%;
}
#navigation ul li {
    text-align: center;
    position: relative;
    background-color: lightblue;
}

#navigation ul li a {
    display: block;
    padding: 10px;
    color: red;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    width: 100%;
    display: none;
}
#navigation ul li:hover .dropdown {
    display: block;
}