body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.row {
    display: flex;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

@media(max-width:1200px) {
    .container {
        width: 1000px;
    }
}

@media(max-width:992px) {
    .container {
        width: 700px;
    }
}

@media(max-width:768px) {
    .container {
        width: 100%;
    }
}

#topbar {
    background-color: #000;
    text-align: right;
    padding: 8px;
}

#topbar a {
    color: #9C9D9F;
}

#topbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
}

#topbar ul li img {
    width: 35px;
}

#header {
    border-radius: 5px;
    margin: 15px 0px;
    left: 2.5%;
    position: absolute;
    z-index: 100;
    width: 95%;
    padding: 0px 10px;
    background-color: #fff;
}

#header .row {
    justify-content: space-between;
}

#header .logo {
    padding-top: 10px;
}

#header .logo img {
    width: 70px;
}

#header .subscribe {
    padding-top: 20px;
}

#header .subscribe a {
    color: #585856;
}

#main-navigation {}

#main-navigation ul li {
    display: inline-block;
    margin: 0px 10px;
    padding: 20px 0px;
}

#main-navigation ul li a {
    color: #585856;
    text-transform: uppercase;
}

#main-navigation ul li:hover a {
    color: red;
}

#video {
    position: relative;
}

#video video {
    width: 100%;
}

#video .row {
    justify-content: center;
}

#video .newGames {
    position: absolute;
    bottom: 0px;
    height: 350px;
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/common/ea-mega-tout-fifa-19-ab-video-background-xl.png.adapt.1456w.png");
}

#video .newGames .col {
    width: 28%;
    margin: 0px 10px;
    text-align: center;
}

#video .newGames img {
    width: 100%;
    margin-bottom: 35px;
}

#video .newGames a {
    color: #fff;
    padding-bottom: 100px;
}

#section_1,
#section_3 {
    padding: 50px 0px;
    background-color: #F3F3F3;
}

#section_1 h2,
#section_3,
h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    /* font-weight: 800; */
}

#section_1 .row {
    flex-wrap: wrap;
    justify-content: center;
}

#section_1 .col {
    width: 30%;
    margin: 0px 8px 20px;
    background-color: #fff;
    transition: 0.5s;
}

#section_1 .desc {
    padding: 30px 20px 40px;
}

#section_1 img {
    width: 100%;
}

#section_1 .col:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

#section_3 .row {
    flex-wrap: wrap;
    justify-content: center;
}

#section_3 .col {
    width: 30%;
    margin: 0px 15px 15px;
    position: relative;
}

#section_3 img {
    width: 100%;
    height: 350px;
}

#section_3 .col:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    top: 0px;
    transition: 0.4s;
}

#section_3 .col:hover:after {
    background-color: rgba(255, 0, 0, 0.8);
}

#section_3 a .text {
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 100;
    transition: 0.5s;
}

#section_3 .col:hover a .text {
    transform: translateY(-60px);
}

#footer {}