body {
    margin: 0px;
    background-color: #EAEAEA;
    font-family: Lato, sans-serif;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.sprite {
    background-image: url("../images/svg_sprite.svg");
}

#header {
    background-color: #3E3E3E;
    padding-bottom: 12px;
}

#header ul li {
    display: inline-block;
}

#top_header {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5px;
}

#top_header ul li a {
    font-size: 9px;
    color: #c6c6c6;
    margin: 0px 10px;
    padding: 3px 6px;
    display: block;
    text-transform: uppercase;
}

#header .logo {
    width: 7%;
}

#header .logo a span {
    display: inline-block;
    width: 100px;
    height: 18px;
}

#main-navigation {
    width: 74%;
    margin-left: 20px;
}

#main-navigation ul li a {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* margin: 0px 0px 0px 0px; */
    /* margin: 0px 0px 0px; */
    /* margin: 0px 0px; */
    /* margin: 0px; */
    margin: 0px 12px;
    padding: 3px 0px;
}

#main-navigation ul li:last-child a {
    display: inline-block;
    width: 20px;
    background-position: -162px -52px;
    height: 0px;
}

#header .socialIcons {
    width: 16%;
}

#header .socialIcons ul li a {
    color: #fff;
    font-size: 20px;
    display: block;
    margin: 0px 10px;
}

.border_1 {
    position: relative;
    margin-bottom: 10px;
}

.border_1:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 50%;
    bottom: 0px;
    border: 1px solid #000;
}

#content {
    margin-top: 40px;
}

#main a {
    color: #000;
}

#main .sidebar_1 {
    width: 26%;
    padding-left: 1px;
}

#main .sidebar_1 img {
    width: 100%;
}

#main .sidebar_1 .exclusive {
    background-color: #fff;
    margin-bottom: 20px;
}

#main .sidebar_1 h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}

#main .sidebar_1 .desc {
    padding: 10px;
}

#main .sidebar_1 h3 {
    font-size: 16px;
}

#main .sidebar_1 .top_stories {
    background-color: #fff;
    padding: 15px;
}

#main .sidebar_1 .top_stories .image {
    width: 35%;
}

#main .sidebar_1 ul li {
    margin-bottom: 15px;
}

#main .sidebar_1 .top_stories .text {
    width: 60%;
    margin-left: 10px;
}

#main .top_stories .text h4 {
    font-size: 14px;
    padding: 10px 0px;
}

#main .top_stories .text h4 a {
    color: #2b2b2b;
}

#main .main_news {
    width: 45%;
    margin: 0px 24px;
}

#main .main_news h1 {
    font-size: 22px;
    text-align: center;
}

#main .headline {
    background-color: #fff;
}

#main .main_news .image {
    position: relative;
}

#main .main_news img {
    width: 100%;
}

#main .main_news .headline .desc {
    padding: 10px;
    position: absolute;
    bottom: -10px;
    background-color: #fff;
}

#main .section_2 {
    margin-top: 50px;
}

#main .section_2 ul li {
    display: inline-block;
    width: 31%;
    position: relative;
}

#main .section_2 .image {
    position: relative;
}

#main .section_2 .desc {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#main .section_2 ul li:after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 70%;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    display: block;
}

#main .section_2 ul li:nth-child(2) {
    margin: 0px 15px;
}

#main .section_2 a {
    color: #fff;
}

#main .sidebar_2 {
    width: 20%;
}

#sidebar {}

#footer {}